.sigContainer {
    width: 100%;
    height: 80%;
    margin: 0 auto;
    background-color: #fff;
  }
  .sigPad {
    width: 100%;
    height: 200px;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .attatchments_sticky{
    position:sticky;
    top: 10px;
    left: 10px;
  }
/* 
  .react-pdf__Page__annotations .annotationLayer{
    display: none !important;
    height: 0px;
    background-color: red;
  } */